@model HomeViewModel
@{
	ViewData["Title"] = "Hakkında";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="service-details">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="service-details__content">
					@foreach (var title in Model.abouts)
					{
						<h3>@title.Title</h3>
						@foreach (var description in Model.aUDescriptions)
						{
							@if (title.Id == description.AboutUsId)
							{
								<p>
									@description.Description
								</p>
							}
						}
						<br />
					}
				</div><!-- /.service-details__content -->
			</div><!-- /.col-lg-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.service-details -->