@model HomeViewModel
@{
	ViewData["Title"] = "Hakkında";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="service-details">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="service-details__content">
					@foreach (var title in Model.abouts)
					{
						<h3>@title.Title</h3>
						@foreach (var description in Model.aUDescriptions)
						{
							@if (title.Id == description.AboutUsId)
							{
								<p>
									@description.Description
								</p>
							}
						}
						<br />
					}

					<div class="service-details__tab">
						<ul class="service-details__tab-title nav-tabs nav list-unstyled">
							<li>
								<a class="active" href="#content" data-toggle="tab">
									<span>
										Content
										Marketing
									</span>
								</a>
							</li>
							<li><a href="#logo" data-toggle="tab"><span>Logo Design</span></a></li>
							<li><a href="#web" data-toggle="tab"><span>Web Designing</span></a></li>
						</ul><!-- /.service-details__tab-title -->
						<div class="tab-content">
							<div class="tab-pane animated fadeInUp show active" id="content">
								<div class="service-details__tab-content">
									<p>
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem
										accusantium doloremque lau dantium, totam rem aperiam, eaque ipsa quae
										ab illo inventore veritatis et quasi archi tecto beatae vitae dicta sunt
										explicabo.
									</p>
									<p>
										Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
										fugit, sed quia conse quuntur magni dolores eos qui ratione voluptatem
										sequi nesciunt.
									</p>
								</div><!-- /.service-details__tab-content -->

							</div><!-- /#content.tab-pane fade in active -->
							<div class="tab-pane animated fadeInUp " id="logo">
								<div class="service-details__tab-content">
									<p>
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem
										accusantium doloremque lau dantium, totam rem aperiam, eaque ipsa quae
										ab illo inventore veritatis et quasi archi tecto beatae vitae dicta sunt
										explicabo.
									</p>
									<p>
										Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
										fugit, sed quia conse quuntur magni dolores eos qui ratione voluptatem
										sequi nesciunt.
									</p>
								</div><!-- /.service-details__tab-content -->

							</div><!-- /#content.tab-pane fade in active -->
							<div class="tab-pane animated fadeInUp " id="web">
								<div class="service-details__tab-content">
									<p>
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem
										accusantium doloremque lau dantium, totam rem aperiam, eaque ipsa quae
										ab illo inventore veritatis et quasi archi tecto beatae vitae dicta sunt
										explicabo.
									</p>
									<p>
										Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
										fugit, sed quia conse quuntur magni dolores eos qui ratione voluptatem
										sequi nesciunt.
									</p>
								</div><!-- /.service-details__tab-content -->

							</div><!-- /#content.tab-pane fade in active -->

						</div><!-- /.tab-content -->
					</div><!-- /.service-details__tab -->
				</div><!-- /.service-details__content -->
			</div><!-- /.col-lg-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.service-details -->