@{
	ViewData["Title"] = "Privacy";
}

<section class="banner-one">
	<div class="container">
		<div class="row">
			<div class="col-xl-5">
				<div class="banner-one__content">
					<h3>#1 SEO company <br> in Worldwide more <br> than want.</h3>
					<p>Contrary to popular belief, Lorem Ipsum <br> It has roots in a piece of classical.</p>
					<div class="banner-one__btn-block">
						<a href="https://www.youtube.com/watch?v=KssOT2QVg-M" class="banner-one__video video-popup"><i class="fa fa-play"></i></a><!-- /.banner-one__video -->
						<a href="contact.html" class="thm-btn">Contact us</a><!-- /.thm-btn -->
					</div><!-- /.banner-one__btn-block -->
				</div><!-- /.banner-one__content -->
			</div><!-- /.col-lg-5 -->
			<div class="col-xl-7">
				<div class="banner-one__images wow fadeInRight" data-wow-duration="1500ms">
					<img src="~/seclight/assets/images/resources/home-one/slider-layer11.png" class="banner-one__image-1" alt="">
					<img src="~/seclight/assets/images/resources/home-one/slider-layer12.png" class="banner-one__image-2 float-bob-y" alt="">
					<img src="~/seclight/assets/images/resources/home-one/slider-layer3.png" class="banner-one__image-3" alt="">
					<img src="~/seclight/assets/images/resources/home-one/slider-layer4.png" class="banner-one__image-4" alt="">
					<img src="~/seclight/assets/images/resources/home-one/slider-layer5.png" class="banner-one__image-5" alt="">
					<img src="~/seclight/assets/images/resources/home-one/slider-layer6.png" class="banner-one__image-6" alt="">
					<img src="~/seclight/assets/images/resources/home-one/slider-layer7.png" class="banner-one__image-7" alt="">
					<img src="~/seclight/assets/images/resources/home-one/slider-layer18.png" class="banner-one__image-8 float-bob-x" alt="">
					<img src="~/seclight/assets/images/resources/home-one/slider-layer9.png" class="banner-one__image-9" alt="">
					<img src="~/seclight/assets/images/resources/home-one/slider-layer10.png" class="banner-one__image-10" alt="">
				</div><!-- /.banner-one__images -->
			</div><!-- /.col-lg-7 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.banner-one -->