@model HomeViewModel
@{
	ViewData["Title"] = "Projeler ve Referanslar";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="service-two">
	<img src="~/seclight/assets/images/shapes/service-shape-1-3.png" class="service-two__shape-1 float-bob-y" alt="">
	<div class="container">
		<div class="row">
			<div class="col-xl-5 d-flex">
				<div class="my-auto">
					<div class="service-two__moc-box wow fadeInUp" data-wow-duration="1500ms">
						<img src="~/seclight/assets/images/resources/project.png" style="width:350px;height:100%" class="float-bob-x" alt="">
					</div><!-- /.service-two__moc-box -->
				</div><!-- /.my-auto -->
			</div><!-- /.col-lg-5 -->
			<div class="col-xl-7">
				<div class="service-two__content">
					<div class="block-title block-title__two text-center" style="height:300px;display:flex;align-items:center">
						<h1 style="color:white"><b>Projeler</b></h1>
					</div><!-- /.block-title text-center -->
				</div><!-- /.service-two__content -->
			</div><!-- /.col-lg-7 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.service-two -->

<section class="team-one" style="margin-top:-100px">
	<div class="container">
		<img src="~/seclight/assets/images/shapes/contact-info-shape-1-1.png" class="contact-info-one__bg-shape-1" alt="">
		<div class="row">
			@foreach (var item in Model.projects)
			{
				<div class="col-lg-4 col-md-6">
					<div class="team-one__single">
						<div class="team-one__image" style="width:371px;height:403px;display:flex;align-items:center;background-color:transparent !important">
							<img src="~/@item.ImagePath" alt="">
							<div class="team-one__social">
								<a href="https://@item.Title"><i class="fa fa-link" style="color:black"></i></a>
							</div><!-- /.team-one__social -->
					</div><!-- /.team-one__image -->
					<div class="team-one__content">
						<div class="team-one__content-text">
								<h3>@item.BrandName</h3>
								<p>@item.ProjectType</p>
							</div><!-- /.team-one__content-text -->
					</div><!-- /.team-one__content -->
				</div><!-- /.team-one__single -->
			</div><!-- /.col-lg-4 col-md-6 -->
			}

		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.team-one -->