<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
	<title>@ViewBag.Title</title>
	<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
	<meta content="Quarter Yazılım ve Danışmanlık Hizmetleri" name="description">
	<meta content="yazılım" name="keywords">
	<meta content="yazilim" name="keywords">
	<meta content="software" name="keywords">
	<meta content="dotnet" name="keywords">
	<meta content="c#" name="keywords">
	<meta content="csharp" name="keywords">
	<meta content="python" name="keywords">
	<meta content="web" name="keywords">
	<meta content="web tasarım" name="keywords">
	<meta content="web programlama" name="keywords">
	<meta content="developer" name="keywords">
	<meta content="development" name="keywords">
	<meta content="engineering" name="keywords">
	<meta content="software engineering" name="keywords">
	<meta content="backend" name="keywords">
	<meta content="QuarterYazilim" name="author">
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/css/users/register-2.css" rel="stylesheet" type="text/css" />
</head>
<body class="register">
	@RenderBody()

	<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
	<script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
	<script src="~/bootstrap/js/popper.min.js"></script>
	<script src="~/bootstrap/js/bootstrap.min.js"></script>

	<!-- END GLOBAL MANDATORY SCRIPTS -->
</body>
</html>
