@model SubtitleItemViewModel

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<div class="row">
	<div class="col-lg-12">
		<div class="statbox widget box box-shadow">
			<div class=" align-left">
				<div class="row">
					<div class="col-md-12 mb-2">
						<button onclick="IndexPage()" class="btn-creative btn-3 btn-3e flaticon-arrow-left-1"><span>Tüm Quarter Kategori Alt Başlıkları</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-lg-12 col-lg-12 col-md-12 col-sm-12 col-12  layout-spacing">
	<div class="row">
		<div class="col-md-12 mb-4">
			<div class="statbox widget box box-shadow">
				<div class="widget-header">
					<div class="row">
						<div class="col-xl-12 col-md-12 col-sm-12 col-12">
							<h4>Quarter Kategorisi Ekle</h4>
						</div>
					</div>
				</div>
				<div class="widget-content widget-content-area">
					<form asp-action="Create" method="post">
						<div asp-validation-summary="ModelOnly" class="text-color"></div>
						<div class="row">
							<div class="col-12">
								<label for="exampleFormControlInput1"> Üst Başlık (Kategori)</label>
								<select class="selectpicker show-tick form-control form-control-lg" asp-items="@Model.CategorySubtitles" asp-for="CategoySubtitleId">
									<option value="0">Bir Üst Başlık Seçiniz.</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="exampleFormControlInput1">İçerik</label>
							<input asp-for="Description" class="form-control form-control-lg" type="text" placeholder="Lütfen bir başlık giriniz.">
							<span asp-validation-for="Description"></span>
						</div>
						<div class="custom-control custom-checkbox mb-4">
							<input type="checkbox" asp-for="Status" class="custom-control-input" id="customCheck1">
							<label class="custom-control-label" for="customCheck1">Aktif</label>
							<span asp-validation-for="Status"></span>
						</div>
						<input type="submit" name="time" class="mb-4 btn btn-button-7">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
